*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#eaf7fa;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
}

.phone{

width:340px;
height:700px;

background:white;

border-radius:35px;

overflow:hidden;

position:relative;

box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.top-wave{

position:absolute;

top:0;

width:100%;
height:120px;

background:#f7c6d8;

border-radius:0 0 50% 50%;

}

.bottom-wave{

position:absolute;

bottom:0;

width:100%;
height:180px;

background:#cceff7;

border-radius:50% 50% 0 0;

}

.content{

position:absolute;

width:100%;

height:100%;

display:flex;

flex-direction:column;

align-items:center;

z-index:10;

}

.welcome{

margin-top:55px;

font-style:italic;

font-size:20px;

color:#666;

}

h1{

font-size:30px;

letter-spacing:2px;

margin-top:5px;

color:#555;

}

.lotus{

width:170px;

margin-top:80px;

animation:float 3s ease-in-out infinite;

}

button{

margin-top:45px;

width:120px;

height:120px;

border-radius:50%;

border:none;

background:#f59db5;

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

box-shadow:0 10px 20px rgba(245,157,181,.4);

}

button:hover{

transform:scale(1.05);

background:#ef7ca0;

}

.version{

position:absolute;

bottom:25px;

font-size:12px;

color:white;

}

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0px);

}

}body{
    background:#D7F0FA;
}

.bottom-wave{
    position:absolute;
    bottom:0;
    width:100%;
    height:180px;
    background:#9EDFF5;
    border-radius:50% 50% 0 0;
}